src/Newsletter.Configuration/NewsletterConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="NewsletterConfiguration" elementFormDefault="qualified" targetNamespace="NewsletterConfiguration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="epicodeNewsletter" type="tns:BVNetwork.EPiSendMail.Configuration.NewsletterConfigurationSectionCT" />
	<xs:complexType name="BVNetwork.EPiSendMail.Configuration.NewsletterConfigurationSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="recipientListProviders" type="tns:BVNetwork.EPiSendMail.Configuration.RecipientListProvidersCT">
				<xs:annotation>
					<xs:documentation>The RecipientListProviders.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="senderType" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SenderType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BVNetwork.EPiSendMail.Configuration.RecipientListProvidersCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:BVNetwork.EPiSendMail.Configuration.RecipientListProvidersClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:BVNetwork.EPiSendMail.Configuration.RecipientListProvidersRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:BVNetwork.EPiSendMail.Configuration.RecipientListProviderCT">
				<xs:annotation>
					<xs:documentation>The RecipientListProvider Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="BVNetwork.EPiSendMail.Configuration.RecipientListProvidersRemoveCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BVNetwork.EPiSendMail.Configuration.RecipientListProvidersClearCT" />
	<xs:complexType name="BVNetwork.EPiSendMail.Configuration.RecipientListProviderCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="displayName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DisplayName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="url" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Url.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
